.title {
font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
}


.subtitle {
font-size: 20px;
margin-bottom: 25px;
}


.rating-card {
display: flex;
align-items: center;
gap: 20px;
background: white;
padding: 20px;
border-radius: 25px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
width: fit-content;
}


.avatar {
width: 45px;
height: 45px;
background: #ff9f9f;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
color: white;
font-size: 20px;
}

.stars {
display: flex;
gap: 10px;
font-size: 30px;
cursor: pointer;
}


.star {
color: #c7c7c7;
}


.star.selected {
color: #ffc107;
}


.comment-label {
margin-top: 25px;
display: block;
font-weight: 500;
}


.comment-box {
width: 100%;
height: 90px;
border-radius: 10px;
border: 1px solid #ccc;
padding: 12px;
margin-top: 5px;
resize: none;
}


.send-button {
margin-top: 20px;
background: #a46dff;
padding: 12px 25px;
border: none;
border-radius: 10px;
color: white;
font-size: 16px;
cursor: pointer;
}


.right-card {
display: flex;
align-items: center;
justify-content: center;
width: 50%;
}


.claim-card {
display: flex;
align-items: center;
gap: 15px;
background: white;
padding: 20px;
border-radius: 20px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.claim-avatar {
width: 40px;
height: 40px;
background: #b8b8ff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
color: white;
}


.claim-title {
font-size: 16px;
font-weight: 600;
}


.claim-project {
font-size: 14px;
opacity: 0.7;
}